body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: white; /* Change this to the color you want */
    
    /* Full screen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-with-blue-background {
    background-color: #5497fe;
    padding: 37px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-title {
    font-family: 'fairfax', sans-serif;
    font-size: 450%;
    color: #ffff9e;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Lower than the z-index of the blue background */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
    background-color: #D3D3D3;
    padding: 20px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

@font-face {
    font-family: 'PTR'; /* Give your font a name to reference it by */
    src: url('font/PTSans-Regular.ttf') format('truetype'); /* Adjust the path as necessary */
}
@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DNF'; /* Give your font a name to reference it by */
    src: url('font/DNFBitBitTTF.ttf') format('truetype'); /* Adjust the path as necessary */
}
@font-face {
    font-family: 'fairfax'; /* Give your font a name to reference it by */
    src: url('font/Fairfax.ttf') format('truetype'); /* Adjust the path as necessary */
}
.logo img {
    position: absolute;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    top: 0%;
    left: 1%;
    z-index: 1001;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #D3D3D3;
    padding: 20px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    font-family: Arial, sans-serif; /* Change the font family as needed */
}

.menu {
    margin-top: 90px; /* Adjust the margin to move the menu lower */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.menu ul li {
    margin-bottom: 20px; /* Increase the margin between menu items */
}

.menu ul li a {
    font-family: 'fairfax', sans-serif; /* Use the name you defined in @font-face */
    color: #1618fd;
    text-decoration: none;
    font-size: 22px; /* Increase the font size */
}

/* Add your CSS styles here */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Add your CSS styles here */
.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Adjust text alignment */
}

th {
    background-color: #f2f2f2;
}
/* Limit the width of the Gender column */
/* Limit the width of the Gender column and enable text wrapping */
.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
}

#dataTable {
    width: 100%; /* Ensure the table spans the full width of its container */
    border-collapse: collapse; /* Collapse table borders */
}

#dataTable th, #dataTable td {
    padding: 8px; /* Add padding to cells */
    text-align: left; /* Align text to the left within cells */
    border: 1px solid #ddd; /* Add borders to cells */
}

#dataTable th {
    background-color: #f2f2f2; /* Add background color for table header */
    font-weight: bold; /* Make table header text bold */
}
